body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
}

h1 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}

.result h2 {
    color: #007BFF;
}

.result p {
    font-weight: bold;
}
